<!-- <div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div> -->
<!-- <course-card
  *ngFor="
    let course of courses;
    index as i;
    first as isFirst;
    last as isLast;
    even as isEven;
    odd as isOdd
  "
  [class.course-card.is-first]="isFirst"
  [class.course-card.is-last]="isLast"
  [class.course-card.is-even]="isEven"
  [class.course-card.is-odd]="isOdd"
  (courseSelected)="onCourseSelected($event)"
  [course]="course"
></course-card> -->

<div calss="courses" *ngIf="courses[0] as course">
  <course-card [course]="course">
    <course-image [src]="course.iconUrl"> </course-image>
    <course-image [src]="courses[1].iconUrl"> </course-image>
    <course-image [src]="courses[2].iconUrl"> </course-image>
    <!-- anything here within the card will be projected onto the ng content tag -->
  </course-card>
</div>
